input.ghkSubscribeInput {
    border: 0px;
    width: 100%;
    background-color: transparent;
}

input.ghkSubscribeInput
p.ghkSubscribeText,
p.ghkSubscribeConfirmation,
p.ghkSubscribeText,
p.ghkSubscribeConfirmation {
   margin: 0;
   padding: 0;
}

input.ghkSubscribeInput:focus {
    outline: none;
}

p.ghkSubscribeText:hover {
    text-decoration: none;
    cursor: pointer;
}

/* hide the close button except when portrait mobile, or it's in landscape on an amp page. */
#horizn-close-article-btn {
   visibility: hidden;
}
body.amp #horizn-close-article-btn {
   visibility: visible;
}
body.amp nav {
   margin-bottom: 1rem;
}
@media (orientation: portrait) and (max-width: 700px) {
   #horizn-article-open:checked ~ article.horizn #horizn-close-article-btn { visibility: visible; }
}

.ghkHidden {
    display: none;
}

/* editor styles */
label, input[type=checkbox] { cursor: pointer; }
input[type=checkbox] { margin: 1rem .5rem 0rem 0rem; }
label { margin-right: .75rem; }
.ghk-editor {
   width: calc(100% - 1rem - 2px);
   padding: .5rem;
   margin: 1rem 0;
   border: 1px solid #eee;
   box-shadow: 0;
   background-color: white;
   resize: none;
}
.ghk-editor:focus {
   outline: none;
   border: 0;
   top: 0;
   bottom: 0vh;
   left: 0;
   right: 0;
   position: absolute;
   margin: 0;
   padding: 1.5rem 1.5rem 90vh 1.5rem;
   width: calc(100% - 3rem);
   border: 0;
   z-index: 0;
}
body.desktop .ghk-editor, 
body.tablet .ghk-editor {
   resize: initial;
}
body.desktop .ghk-editor:focus,
body.tablet .ghk-editor:focus {
   top: initial;
   bottom: initial;
   left: initial;
   right: initial;
   position: initial;
   border: 1px solid #eee;
   width: calc(100% - 1rem - 2px);
   padding: .5rem .5rem .5rem .5rem;
   margin: 1rem 0;
}
body.desktop #ghk-editor-maximized:checked ~ .ghk-editor:focus,
body.tablet #ghk-editor-maximized:checked ~ .ghk-editor:focus {
   top: 1rem;
   bottom: 1rem;
   left: 1rem;
   right: 1rem;
   position: absolute;
   border: 1px solid #eee;
   width: calc(100% - 3rem - 2px);
   height: calc(100vh - 3rem -2px - 90vh);
   margin: 0;
   padding: .5rem .5rem 90vh .5rem;
}

.ghk-editor::-webkit-scrollbar { display: none; }
#ghk-editor-maximized:checked ~ .ghk-editor::-webkit-scrollbar { display: none; }
body.desktop ~ .ghk-editor::-webkit-scrollbar,
body.tablet ~ .ghk-editor::-webkit-scrollbar { display: initial; }