:root {
   --grid-template: '';
   --grid-template-open: 'leadin timeline sheet' 1fr / 21fr 23fr 56fr;
   --grid-template-closed: 'leadin timeline' 1fr / 38fr 62fr;
   --grid-row-gap: 1rem;
   --grid-column-gap: 1rem;
   --horizn-max-width: 800px;
   --display-leadin: block;
   --display-timeline: block;
   --display-sheet: none;
   --uom: 1rem;
}

#horizn-article-open {
   display: none;
}

@media (orientation: portrait) and (max-width: 1439px), (orientation: landscape) and (max-width: 1023px) { /* 812px 1023px */
   :root { 
       --grid-template-open: 'leadin sheet' 0fr 'timeline sheet' 1fr / 1fr 2fr; 
       --grid-template-closed: 'leadin timeline' 1fr / 38fr 62fr;  
       --horizn-max-width: 1440px;
   }
   #horizn-article-open:not(:checked) {
       --display-sheet: none;
       --horizn-max-width: 600px;
   }
}

@media (orientation: landscape) and (max-width: 700px) { /* 414px 480px */
   :root { 
       --grid-template-open: 'leadin sheet' 0fr 'timeline sheet' 0fr / 33fr 67fr; 
       --grid-template-closed: 'leadin timeline' 0fr / 38fr 62fr; 
       --grid-column-gap: 0;
   }
   #horizn-article-open:not(:checked){
       --display-sheet: none;
       --horizn-max-width: 600px;
   }
}

@media (orientation: portrait) and (max-width: 700px) { /* 414px 480px */
   :root { 
       --grid-template-open: 'sheet' 0fr / 1fr; 
       --grid-template-closed: 'leadin' 0fr 'timeline' 1fr / 1fr; 
       --grid-column-gap: 0;
       --horizn-max-width: 600px;
   }
   #horizn-article-open:checked  {
       --grid-row-gap: 0;
       --display-leadin: none;
       --display-timeline: none;
   }
   #horizn-article-open:not(:checked) {
       --display-sheet: none;
   }
}

#horizn-article-open:checked  {
   --grid-template: var(--grid-template-open); 
   --display-sheet: block;
   --horizn-max-width: 1440px;
   --color: green;
}
#horizn-article-open:not(:checked) {
   --grid-template: var(--grid-template-closed); 
   --color: blue;
}

body.horizn { 
   margin: 0 auto;
   max-width: var(--horizn-max-width);
   display: grid;
   grid-template: var(--grid-template);
   grid-row-gap: var(--grid-row-gap);
   grid-column-gap: var(--grid-column-gap);
   background-color: var(--color) !important;
}

header.horizn { 
   grid-area: leadin; 
   display: var(--display-leadin);
}
aside.horizn { 
   grid-area: timeline; 
   display: var(--display-timeline);
}
article.horizn { 
   grid-area: sheet; 
   display: var(--display-sheet);
}
