:root {
   --flex-direction: column;
   --flex-wrap: wrap-reverse;

   /* 'leadin timeline sheet' 1fr / 21fr 23fr 56fr; */
   --open-flex-header: 1 0 auto;
   --open-flex-aside: 0 0 content;
   --open-flez-article: 0 0 content;
   --open-max-width-aside: 320px;
   --open-max-width-article: 732px;
   --open-height-header: 100%;
   --open-height-aside: 100%;
   --open-height-article: 100%;
   --open-order-header: 3;
   --open-order-aside: 2;
   --open-order-article: 1;

   /* 'leadin timeline' 1fr / 38fr 62fr; */
   --closed-flex-header: 1 0 auto;
   --closed-flex-aside: 0 0 content;
   --closed-flex-article: 0 0 content;
   --closed-max-width-aside: 320px;
   --closed-height-header: 100%;
   --closed-height-aside: 100%;
   --closed-height-article: unset;
   --closed-order-header: 3;
   --closed-order-aside: 2;
   --closed-order-article: 1;

   --bg-color: black;
   --bg-color2: darkgrey;
}
#horizn-article-open:checked ~ article.horizn { display: block; }
#horizn-article-open:not(:checked) ~ article.horizn { display: none; }

@media (orientation: portrait) and (max-width: 1439px), (orientation: landscape) and (max-width: 1023px) {
   :root {
      /* 'leadin sheet' 0fr 'timeline sheet' 1fr / 1fr 2fr; */

      /* 'leadin timeline' 1fr / 38fr 62fr; */

      --bg-color: darkblue;
      --bg-color2: blue;
   }
   #horizn-article-open:checked ~ article.horizn { display: block; }
}

@media (orientation: landscape) and (max-width: 700px) {
   :root {
      /* 'leadin sheet' 0fr 'timeline sheet' 0fr / 33fr 67fr; */
      --open-flex-header: 0 0 auto;
      --open-flex-aside: 0 0 content;
      --open-flez-article: 0 0 content;
      --open-max-width-aside: 188px;
      --open-max-width-article: 414px;

      /* 'leadin timeline' 0fr / 38fr 62fr; */
      --closed-flex-header: 0 0 auto;
      --closed-order-header: 2;
      --closed-order-aside: 1;

      
      --bg-color: darkred;
      --bg-color2: red;
   }
   #horizn-article-open:checked ~ article.horizn { display: block; }
}

@media (orientation: portrait) and (max-width: 700px) {
   :root {
      /* 'sheet' 0fr / 1fr; */
      --open-max-width-article: unset;

      /* 'leadin' 0fr 'timeline' 1fr / 1fr; */
      --closed-flex-header: 1 0 auto;
      --closed-flex-aside: 1 0 content;
      --closed-max-width-aside: unset;
      --closed-height-header: 100vh;
      --closed-order-header: 1;
      --closed-order-aside: 2;
      
      --bg-color: darkgreen;
      --bg-color2: green;
   }
   #horizn-article-open:checked ~ header.horizn,
   #horizn-article-open:checked ~ aside.horizn { 
      display: none; 
   }
}



#horizn-article-open:checked ~ * { 
   --flex-header: var(--open-flex-header);
   --flex-aside: var(--open-flex-aside);
   --flex-article: var(--open-flex-article);
   --height-header: var(--open-height-header);
   --height-aside: var(--open-height-aside);
   --height-article: var(--open-height-article);
   --max-width-aside: var(--open-max-width-aside);
   --max-width-article: var(--open-max-width-article);
   --order-header: var(--open-order-header);
   --order-aside: var(--open-order-aside);
   --order-article: var(--open-order-article);
}
#horizn-article-open:not(:checked) ~ * {
   --flex-header: var(--closed-flex-header);
   --flex-aside: var(--closed-flex-aside);
   --flex-article: var(--closed-flex-article);
   --height-header: var(--closed-height-header);
   --height-aside: var(--closed-height-aside);
   --height-article: var(--closed-height-article);
   --max-width-aside: var(--closed-max-width-aside);
   --order-header: var(--closed-order-header);
   --order-aside: var(--closed-order-aside);
   --order-article: var(--closed-order-article);
}

#horizn-article-open {
   display: none;
}

body {
   display: flex;
   flex-flow: var(--flex-direction) var(--flex-wrap);
   height: 100vh;
   max-height: 100vh;
}

header.horizn {
   flex: var(--flex-header);
   height: var(--height-header);
   min-height: var(--height-header);
   order: var(--order-header);
   background-color: var(--bg-color);
}

aside.horizn {
   flex: var(--flex-aside);
   height: var(--height-aside);
   max-width: var(--max-width-aside);
   order: var(--order-aside);
   background-color: var(--bg-color);
}

article.horizn {
   flex: var(--flex-article);
   height: var(--height-article);
   max-width: var(--max-width-article);
   order: var(--order-article);
   background-color: var(--bg-color2);
}
