/* prettyprint style fixes test */
pre.prettyprint {
   padding: 1rem 0rem;
   border: 0;
   width: initial;
	white-space: pre-wrap;
}
aside.horizn pre.prettyprint {
   padding: 0;
}
code.prettyprint {
   padding: .1em .5em;
   display: inline-block;
}
pre.prettyprint, 
code.prettyprint {
   background-color: transparent; /* todo: adjust this? */
   border-radius: 0;
}

/* general styling */
body {
   font-size: 1rem;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   word-break: break-word;
   margin: 0;
}
@media screen and (prefers-color-scheme: dark) {
   body {
      color: white;
      background-color: #222;
      color: #ddd;
   }
}
img {
   width: 100%;
}
p.imgContainer {
   width: auto;
   margin-left: -1rem;
   margin-right: -1rem;
}
p.imgContainer img {
   max-height: 101vh;
   min-width: 100%;
   object-fit: cover;
   object-position: 50% 50%;
}
html.hasNotchRight p.imgContainer {
   width: auto;
   margin-left: -1rem;
   margin-right: 44px;
   margin-right: calc(-1 * constant(safe-area-inset-right));
   margin-right: calc(-1 * env(safe-area-inset-right));
}
html.hasNotchLeft p.imgContainer {
   width: auto;
   margin-right: -1rem;
   margin-left: 44px;
   margin-left: calc(-1 * constant(safe-area-inset-left));
   margin-left: calc(-1 * env(safe-area-inset-left));
}
html.hasNotchLeft body {
   margin-left: 44px;
   margin-left: constant(safe-area-inset-left);
   margin-left: env(safe-area-inset-left);
   margin-right: 1rem;
}
html.hasNotchRight body {
   margin-left: 1rem;
   margin-right: 44px;
   margin-right: constant(safe-area-inset-right);
   margin-right: env(safe-area-inset-right);
}
code, kbd, pre, samp {
   font-family: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}
h1, h2, h3, h4, h5, h6, li, p, img {
   margin-bottom: .5rem;
}
h1 { 
   font-size: 2.2rem;
   margin-top: -.3rem;
}
h2 { 
   font-size: 2.0rem;
   font-weight: 500;
}
h3 { 
   font-size: 1rem;
   font-weight: normal;
}
h4 { 
   line-height: 1.6rem; 
}
h5 { 
   line-height: 1.4rem; 
}
h6 { 
   line-height: 1.2rem; 
}
p, li {
   font-size: 1rem;
   line-height: 1.5rem;
   font-weight: 300;
}
pre, code {
   font-size: .9em;
}
pre > code {
   line-height: 1.2rem;
}
html {
   -ms-overflow-style: scrollbar;
   -webkit-tap-highlight-color: transparent;
}
button, input, optgroup, select, textarea {
   color: black;
}
@media screen and (prefers-color-scheme: dark) {
   button, input, optgroup, select, textarea { 
      color: black; 
   }
}
input.ghkSubscribeInput {
   color: black;
}
@media screen and (prefers-color-scheme: dark) {
   input.ghkSubscribeInput { color: white; }
}
a:link, 
a:hover, 
a:visited, 
a:active { 
   text-decoration: none; 
   color: #3387CC;
   cursor: pointer;
}
@media screen and (prefers-color-scheme: dark) {
   a:link, a:hover, a:visited, a:active {
      text-shadow: 0px 0px 20px #000;
      font-weight: 400;
   }
}
aside.horizn a:link, 
aside.horizn a:hover, 
aside.horizn a:visited, 
aside.horizn a:active,
#horizn-close-article-btn a:link, 
#horizn-close-article-btn a:hover, 
#horizn-close-article-btn a:visited, 
#horizn-close-article-btn a:active { 
   text-decoration: none; 
   color: initial;
   cursor: pointer; 
}
@media screen and (prefers-color-scheme: dark) {
   aside.horizn a:link, 
   aside.horizn a:hover, 
   aside.horizn a:visited, 
   aside.horizn a:active,
   #horizn-close-article-btn a:link, 
   #horizn-close-article-btn a:hover, 
   #horizn-close-article-btn a:visited, 
   #horizn-close-article-btn a:active { 
      color: white;
   }
}
a {
   color: #3387CC;
}
@media screen and (prefers-color-scheme: dark) {
   a {
      color: white;
   }
}
/* navigation bar styling */
nav {
   margin: -1rem -1rem var(--nav-bottom-margin) -1rem;
   padding: 1rem 1rem 1rem 1rem;
   height: 1.5rem;
}
nav p {
   margin: 0;
   padding: 0;
   line-height: 1.5rem;
}
/* horizn-leadin styling */
header.horizn {
   padding: 1rem;
}
header.horizn > h2 {
   margin: 1rem 0 .05em 0;
}
header.horizn > div.greybox {
   background-color: #e2e4e4;
   padding: 0 4rem 1rem 1rem;
   width: calc(100% - 5rem);
   max-width: 10rem;
   margin-bottom: .5rem;
   border-radius: .5rem;
   display: inline-block;
   margin-top: 2rem;
}
@media screen and (prefers-color-scheme: dark) {
   header.horizn > div.greybox {
      background-color: #2b2c2c;
   }
}
header.horizn > div.greybox > img {
   border-radius: .5rem;
   margin-top: -2rem;
   margin-bottom: 0;
}
@media screen and (prefers-color-scheme: dark) {
   header.horizn > div.greybox > img {
      filter: brightness(80%);
   }
}
header.horizn > h2 ~ p {
   margin-top: 0;
   margin-bottom: 1rem;
   font-weight: 300;
}
.circle {
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   display: inline-block;
   border-color: lightgray;
   border-width: .2rem;
   border-style: solid;
   height: .4rem;
   width: .4rem;
   background-color: white;
   font-size: 1.55rem;
   line-height: 0rem;
   margin-right: .7rem;
}
@media screen and (prefers-color-scheme: dark) {
   .circle {
      background-color: rgb(11, 29, 4);
   }
}
.circle-blue {
   border-color: #00aeef;
}
.circle-orange {
   border-color: orange;
}
/* timeline styling  */
aside.horizn {
   margin-top: unset;
   padding: 1rem;
}
aside.horizn ol {
   padding-left: 0;
}
aside.horizn ol a {
   position: relative;
   margin-bottom: 3rem;
   display: inline-block;
}
aside.horizn ol a h3 {
   margin-top: -.39rem;
   margin-bottom: .25rem;
}
@media screen and (prefers-color-scheme: dark) {
   aside.horizn ol a h3 { 
      color:#ffffff;
   }
}
aside.horizn ol li a p {
   margin-top: 0;
   font-size: .8rem;
   display: block;
}
@media screen and (prefers-color-scheme: dark) {
   aside.horizn ol li a p { 
      color:#ffffff; 
   }
}
aside.horizn ol li a p:empty {
   display: none;
}
aside.horizn ol li a pre {
   margin-top: 0;
}
aside.horizn ol li {
   margin-bottom: 0;
   margin-left: 1rem;
   display: block;
   border-left: 1px solid #ddd;
   padding-left: 1.5rem;
}
aside.horizn ol li:last-child {
   display: block;
   border-left-width: 0px;
   margin-bottom: 5rem;
}
aside.horizn li a span.circle {
   position: absolute;
   left: -1.925rem;
   display: inline-block;
}

/* sheet styling */
article.horizn {
   padding: 1rem;
}
article.horizn > div > span {
   display: block;
   margin-bottom: 1.2rem;
}
article.horizn > div > span > h3 {
   display: inline;
   font-size: .8rem;
   font-weight: 300;
}
@media screen and (prefers-color-scheme: dark) {
   article.horizn > div > span > h3 {
      color:#ffffff;
   }
}
article.horizn time {
   font-size: .7rem;
}
article.horizn > div {
   margin: -1.5rem 0 -1rem 0;
   padding-top: 1.5rem;
   padding-bottom: 4.5rem;
}
article.horizn > p {
   margin-bottom: 2rem;
}

/* horizn specific css that are good overrides! */
:root { 
   --nav-bottom-margin: 4rem; 
}
@media (orientation: portrait) and (max-width: 1439px), (orientation: landscape) and (max-width: 1023px) { /* 812px 1023px */
   #horizn-article-open:not(:checked) { --nav-bottom-margin: 4rem; }
   #horizn-article-open:checked {--nav-bottom-margin: 2rem; }
   #horizn-article-open:checked ~ aside.horizn > nav { background-color: transparent; display: none; }
}
@media (orientation: landscape) and (max-width: 812px) { /* 414px 480px */
   #horizn-article-open:not(:checked) { --nav-bottom-margin: 2rem; }
   #horizn-article-open:checked { --nav-bottom-margin: 1rem; }
   #horizn-article-open:checked ~ aside.horizn > nav { background-color: transparent; display: none; }
}
@media (orientation: portrait) and (max-width: 700px) { /* 414px 480px */
   #horizn-article-open:not(:checked) { --nav-bottom-margin: 1rem; }
   #horizn-article-open:checked { --nav-bottom-margin: 1rem; }
   header.horizn > div.greybox { margin-top: 5.5rem; }
   aside.horizn > nav { background-color: transparent; display: none; }
}

/* TODO: HORIZN CHANGES */
body {
   min-height: 100vh;
}