:root {
   /* --dark-article-background: #253236;
   --dark-article-color: #ddddddff;
   --dark-aside-backdrop-filter: blur(8px);
   --dark-aside-background: #0d181bba;
   --dark-aside-text-shaddow: 0px 0px 20px #000000ff;
   --dark-nav-fixed-background: #2e3a3e;
   --dark-nav-fixed-color: #ffffffff;
   --dark-nav-transparent-background: #2d4b5247; */
   --uom: .9rem;
}

/* general styling */

body {
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-size: var(--uom);
   font-weight: 300;
   letter-spacing: calc(var(--uom) * .03 * 1.5);
   line-height: calc(100% * 1.5);
   margin: 0;
   word-break: break-word;
}

code, kbd, pre, samp {
   font-family: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

h1, h2, h3 {
   margin: var(--uom) 0;
   font-weight: 500;
   letter-spacing: calc(var(--uom) * .05 * 1.5);
}

h1 {
   font-size: 270%;
   font-weight: 500;
   line-height: calc(100% * 1.1);
}

h2 {
   font-size: 150%;
   font-weight: 500;
   line-height: calc(100% * 1.2);
   text-transform: uppercase;
}

h3 {
   font-size: 115%;
   font-weight: 500;
   line-height: calc(100% * 1.3);
   text-transform: uppercase;
}

h4 {
   font-size: 90%;
   font-weight: 450;
   letter-spacing: calc(var(--uom) * .045 * 1.5);
   margin: var(--uom) 0;
   text-transform: uppercase;
   line-height: calc(100% * 1.4);
}

h5 {
   font-size: 80%;
   margin: calc(var(--uom) * .85) 0 0 0;
   border-left: #aaa solid .3rem;
   line-height: calc(100% * 1.5);
}

h6 {
   font-size: 70%;
   margin: calc(var(--uom) * .75) 0 0 0;
   line-height: calc(100% * 1.5);
   border-left: #aaa solid .6rem;
}

h5, h6 {
   padding-left: 1rem;
   font-weight: 400;
   letter-spacing: calc(var(--uom) * .04 * 1.5);
   line-height: calc(100% * 1.5);
   text-transform: uppercase;
}

blockquote > h5,
blockquote > h6 {
   margin: 0;
   padding-left: 0;
   padding-right: 0;
   border-left: 0;
   text-transform: initial;
}

time {
   font-size: 80%;
}

p, li, blockquote {
   margin-bottom: var(--uom);
}

pre, code {
   font-size: 90%;
   line-height: calc(100% * 1.3);
}

button, input, optgroup, select, textarea {
   color: black;
}

@media screen and (prefers-color-scheme: dark) {
   button, input, optgroup, select, textarea { 
      color: black; 
   }
}

input.ghkSubscribeInput {
   color: black;
}
@media screen and (prefers-color-scheme: dark) {
   input.ghkSubscribeInput { color: white; }
}

/* header styling */
header > picture > img,
aside + header > picture > img {
   object-position: 100% 20%;
}

article + header > picture > img,
article + aside + header > picture > img {
   object-position: 57% 20%;
}

@media (orientation: portrait) and (max-width: 7.5in), (orientation: landscape) and (max-width: 8.5in) {
   aside + header > picture > img {
      object-position: 57% 20%;
   }
}

@media screen and (prefers-color-scheme: dark) {
   header > picture > img {
      filter: brightness(80%);
   }
}
/* 
@media (orientation: portrait) and (max-width: 7.5in), (orientation: landscape) and (max-width: 8.5in) {
   header > div {
      padding-bottom: var(--uom);
   }
} */

header > h1 {
   text-shadow: 0px 0px 20px #000;
   color: white;
   margin-bottom: calc(var(--uom) * .5);
}

header > p:first-of-type {
   text-shadow: 0px 0px 3px #000;
   font-weight: 400;
   margin-top: 0rem;
   color: white;
}

/* copy/paste article content in dark mode produces bad paste styles. */
/* ::selection {
   background-color: black !important;
   color: white !important;
}

@media screen and (prefers-color-scheme: dark) {
   *::selection {
      background: white !important;
      color: black !important;
   }
} */

/* aside styles */

aside {
   margin-top: unset;
}

aside ol {
   margin: 4rem 0 0 0;
   padding-left: 0;
}

aside > ol > li > pre {
   margin-top: 0;
}

aside > ol > li {
   display: block;
   border-bottom: 1px solid #ffffffff;
   padding: calc(var(--uom) * 2) var(--uom);
   margin: 0;
}

aside > ol > li:first-child {
   border-top: 1px solid #ffffffff;
}

@media screen and (prefers-color-scheme: dark) {
   aside > ol > li {
      border-bottom: 1px solid #666666ff;
   }

   aside > ol > li:first-child {
      border-top: 1px solid #666666ff;
   }   
}

aside > ol > li > *:last-child {
   margin-bottom: 0;
}

aside > ol > li:last-child {
   margin-bottom: 0;
}

/* sheet styling */

article > blockquote {
   margin: initial;
   border-left: #3f9be6 solid .3rem;
   padding-left: 1rem;
}

@media screen and (prefers-color-scheme: dark) {
   article > blockquote {
      border-left: #2573b3 solid .2rem;
   }
}

article > span {
   display: block;
   margin-bottom: 1.2rem;
}

article > h1 {
   margin-top: 0rem;
   padding-top: 4rem;
}

article ul {
   padding: 0 1rem 0 2.5rem;
}

/* horizn specific css that are good overrides! */
/* @media (orientation: portrait) and (max-width: 1439px), (orientation: landscape) and (max-width: 1023px) { 
   #horizn-article-open:not(:checked) ~ .horizn-container { --nav-bottom-margin: 4rem; }
   #horizn-article-open:checked ~ .horizn-container {--nav-bottom-margin: 2rem; }
   #horizn-article-open:checked ~ .horizn-container .horizn-timeline > nav { background-color: transparent; display: none; }
}

@media (orientation: landscape) and (max-width: 812px) { 
   #horizn-article-open:not(:checked) ~ .horizn-container { --nav-bottom-margin: 2rem; }
   #horizn-article-open:checked ~ .horizn-container { --nav-bottom-margin: 1rem; }
   #horizn-article-open:checked ~ .horizn-container .horizn-timeline > nav { background-color: transparent; display: none; }
}
@media (orientation: portrait) and (max-width: 700px) { 
   #horizn-article-open:not(:checked) ~ .horizn-container { --nav-bottom-margin: 1rem; }
   #horizn-article-open:checked ~ .horizn-container { --nav-bottom-margin: 1rem; }
   .horizn-timeline > nav { background-color: transparent; display: none; }
} */
@media (orientation: portrait) and (max-width: 7.5in), (orientation: landscape) and (max-width: 8.5in), (orientation: landscape) and (max-height: 5in) { /* 414px 480px */
   body > article > h1 { padding-top: calc(var(--uom) * 1); }
}

@media (orientation: landscape) and (max-height: 5in) { /* 414px 480px */
   body > aside > ol { padding-top: calc(var(--uom) * 1); }
}