:root {
   --uom: 1rem;
   --max-aside: 4in;
   --max-article: 6.25in;
   --dark-article-background: #222222ff;
   --dark-article-color: #ddddddff;
   --dark-aside-backdrop-filter: blur(8px);
   --dark-aside-background: #000000bb;
   --dark-aside-text-shaddow: 0px 0px 20px #000000ff;
   --dark-nav-fixed-background: #191919;
   --dark-nav-fixed-color: #ffffffff;
   --dark-nav-transparent-background: #000000bb;
   --light-article-background: #ffffffff;
   --light-article-color: #111111ff;
   --light-aside-backdrop-filter: blur(8px);
   --light-aside-background: #ffffffbb;
   --light-aside-text-shaddow: 0px 0px 20px #ffffffff;
   --light-nav-fixed-background: #f5f5f5;
   --light-nav-fixed-color: #3387CC;
   --light-nav-transparent-background: #ffffffbb;
   --light-accent-color: #3387CC;
   --dark-accent-color: #2573b3;
   --header-h1-color: #ffffff;
   --header-h1-font-weight: normal;
   --header-h1-text-shadow: 0px 0px 1.5rem #000;
   --header-p-color: #ffffff;
   --header-p-font-weight: 400;
   --header-p-text-shadow: 0px 0px 0.25rem #000;
   --safe-area-inset-top: env(safe-area-inset-top, 0px);
   --safe-area-inset-right: env(safe-area-inset-right, 0px);
   --safe-area-inset-bottom: env(safe-area-inset-bottom, 0px);
   --safe-area-inset-left: env(safe-area-inset-left, 0px);
   /* --safe-area-inset-top: 44px;
   --safe-area-inset-right: 44px;
   --safe-area-inset-bottom: 44px;
   --safe-area-inset-left: 44px; */
}

body {
   border: 0;
   margin: 0;
   padding: 0;
   display: flex;
   flex-flow: row-reverse wrap;
   box-sizing: initial; /* box-sizing: border-box does not work with -webkit-fill-available. It could have spared a lot of calc statements, but I tried it, doesn't work. don't bother. */
   /* overflow-x: hidden; */
}

/* Horizn Symantic HTML styling */
/* header */

header {
   border: 0;
   margin: 0;
   min-height: calc(100vh - calc(var(--uom) * 2));
   min-height: -webkit-fill-available;
   max-height: calc(100vh - calc(var(--uom) * 2) - var(--safe-area-inset-top) - var(--safe-area-inset-bottom) - calc(var(--uom) * 2) - calc(var(--uom) * 1.5));
   z-index: 1;
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   padding-top: calc(var(--uom) + var(--safe-area-inset-top) + calc(var(--uom) * 2) + calc(var(--uom) * 1.5));
   padding-bottom: calc(var(--uom) + var(--safe-area-inset-bottom));
   padding-left: calc(var(--uom) + var(--safe-area-inset-left));
   padding-right: var(--uom);
   display: flex;
   flex-flow: column wrap;
   justify-content: flex-end;
   overflow: hidden;
   width: 100%;
}

aside + header {
   width: calc(100vw - calc(var(--uom) * 4) - var(--safe-area-inset-left) - var(--max-aside));
   padding-right: calc(var(--uom) + calc(var(--uom) * 2) + var(--max-aside));
   margin-right: calc(calc(var(--max-aside) * -1) - calc(var(--uom) * 2));
}

article + aside + header {
   width: calc(100vw - var(--max-article) - var(--max-aside) - calc(var(--uom) * 6) - var(--safe-area-inset-left));
   padding-right: calc(var(--uom) + calc(var(--uom) * 2) + var(--max-aside));
   margin-right: calc(calc(var(--max-aside) * -1) - calc(var(--uom) * 2));
}

article ~ header {
   width: calc(100vw - var(--max-article) - calc(var(--uom) * 4) - var(--safe-area-inset-left));
   padding-right: var(--uom);
   margin-right: 0;
}

/* Horizn Symantic HTML styling */
/* aside */

aside {
   border: 0;
   margin: 0;
   width: 100%;
   height: 100%;
   max-width: calc(var(--max-aside) - var(--safe-area-inset-right));
   padding-right: calc(var(--uom) + var(--safe-area-inset-right));
   z-index: 2;
   padding: calc(var(--uom) + var(--safe-area-inset-top) + calc(var(--uom) * 2) + calc(var(--uom) * 1.5)) calc(var(--uom) + var(--safe-area-inset-right)) calc(var(--uom) + var(--safe-area-inset-bottom)) calc(var(--uom));
   min-height: calc(100vh - calc(var(--uom) * 5.5) - var(--safe-area-inset-top) - var(--safe-area-inset-bottom));
}

article + aside {
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   height: 100%;
   max-height: calc(100vh - calc(var(--uom) * 2) - var(--safe-area-inset-top) - var(--safe-area-inset-bottom) - calc(var(--uom) * 2) - calc(var(--uom) * 1.5));
   overflow: scroll;
   max-width: var(--max-aside);
   padding-right: var(--uom);
}

/* Horizn Symantic HTML styling */
/* article */

article {
   border: 0;
   margin: 0;
   min-height: 100vh;
   min-height: -webkit-fill-available;
   width: 100%;
   max-width: calc(var(--max-article) - var(--safe-area-inset-right));
   padding: calc(var(--uom) + var(--safe-area-inset-top) + calc(var(--uom) * 2) + calc(var(--uom) * 1.5)) calc(var(--uom) + var(--safe-area-inset-right)) calc(var(--uom) + var(--safe-area-inset-bottom)) calc(var(--uom));
}

/* navigation bar styling */

nav {
   margin: calc(calc(var(--safe-area-inset-top) * -1) - var(--uom) - calc(var(--uom) * 2) - calc(var(--uom) * 1.5)) calc(var(--uom) * -1) var(--uom) calc(var(--uom) * -1);
   padding: calc(var(--uom) + var(--safe-area-inset-top)) calc(var(--uom) + var(--safe-area-inset-right)) var(--uom) calc(var(--uom) + var(--safe-area-inset-left));
   height: calc(var(--uom) * 1.5);
   width: calc(100vw - calc(var(--uom) + var(--safe-area-inset-right)) - calc(var(--uom) + var(--safe-area-inset-left)));
   max-width: 100%;
   white-space: nowrap;
   overflow-x: auto;
   overflow-y: hidden;
   -webkit-overflow-scrolling: auto;
}

nav > a {
   margin: 0;
   padding: 0 var(--uom);
}

nav > :first-child {
   padding-left: 0;
}

nav > :last-child {
   padding-right: 0;
}

/* navigation bar styling */
/* header > nav */

header > nav {
   position: fixed;
   top: calc(var(--uom) + var(--safe-area-inset-top) + calc(var(--uom) * 2) + calc(var(--uom) * 1.5));
   left: 0;
   padding-left: calc(var(--uom) + var(--safe-area-inset-left));
   margin-left: 0;
   margin-right: 0;
   z-index: 2;
}

aside + header > nav {
   width: calc(100vw - var(--max-aside) - calc(var(--uom) * 4));
   padding-right: var(--uom);
}

article + aside + header > nav {
   width: calc(100vw - var(--max-aside) - var(--max-article) - calc(var(--uom) * 6));
   padding-right: var(--uom);
}

article ~ header > nav {
   width: calc(100vw - var(--max-article) - calc(var(--uom) * 4));
   padding-right: var(--uom);
}

/* navigation bar styling */
/* aside > nav */

aside > nav {
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   left: 0;
   z-index: 2;
   margin-right: calc(calc(var(--uom) * -1) - var(--safe-area-inset-right));
   padding-right: calc(var(--uom) + var(--safe-area-inset-right));
   padding-left: var(--uom);
}

article + aside > nav {
   margin-right: calc(var(--uom) * -1);
   padding-right: var(--uom);
   position: fixed;
   top: calc(var(--uom) + var(--safe-area-inset-top) + calc(var(--uom) * 2) + calc(var(--uom) * 1.5));
   left: calc(100vw - var(--max-article) - var(--max-aside) - calc(var(--uom) * 3));
   z-index: 2;
   width: calc(var(--max-aside));
}

/* navigation bar styling */
/* article > nav */

article > nav {
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   margin-right: calc(calc(var(--uom) * -1) - var(--safe-area-inset-right));
   padding-left: calc(var(--uom));
   padding-right: calc(var(--uom) + var(--safe-area-inset-right));
}

/* horizn header styles */
/* part of what makes horizn vaguely interesting is that it looks pretty neat. Looking neat leads to
   usability concerns, of which I primarily try to address here. IE: styling text over a background image. */

header > picture > img {
   position: absolute;
   top: 0px;
   bottom: 0px;
   left: 0px;
   right: 0px;
   z-index: -1;
   height: 100%;
   min-height: 100vh;
   width: 100%;
   object-fit: cover;
}

header > h1 {
   color: var(--header-h1-color);
   font-weight: var(--header-h1-font-weight);
   text-shadow: var(--header-h1-text-shadow);
   margin-bottom: calc(var(--uom) * .5);
}

header > p {
   color: var(--header-p-color);
   font-weight: var(--header-p-font-weight);
   text-shadow: var(--header-p-text-shadow);
}

/* Box Sizing styles. 
   IE: should help (elements with 100% width + padding) not break the site strucutre. */

header > *:not(nav, picture),
header > *:not(nav, picture) *,
aside > *:not(nav),
aside > *:not(nav) *,
article > *:not(nav),
article > *:not(nav) * {
   width: auto;
   max-width: 100%;
   box-sizing: border-box;
}

/* Horizn Symantic HTML styling */
/* the width of a tablet in landscape (and lower): hide the aside, override width of header to account for hidden aside */
@media (max-width: 18in) {
   article + aside {
      display: none;
   }

   article + aside + header,
   article ~ header {
      /*          100vh - article width      - padding * 4 (for left and right padding of 2 elements) */
      width: calc(100vw - var(--max-article) - calc(var(--uom) * 4) - var(--safe-area-inset-left));
      padding-right: calc(var(--uom));
      margin-right: 0;
   }

   aside + header > nav {
      width: calc(100vw - var(--max-aside) - calc(var(--uom) * 4));
   }

   article + aside + header > nav,
   article ~ header > nav {
      width: calc(100vw - var(--max-article) - calc(var(--uom) * 4) - var(--safe-area-inset-left));
   }
}

/* Horizn Symantic HTML styling */
/* hide the header when smaller than a desktop, and center the article (~< ipad tablet max portrait width 1024) */
@media (max-width: 10.5in) {
   article ~ header {
      display: none;
   }

   article {
      width: calc(100vw - var(--safe-area-inset-left) - var(--safe-area-inset-right));
      padding-left: calc(var(--uom) + var(--safe-area-inset-left));
      max-width: initial;
   }

   article > nav {
      position: fixed;
      top: calc(var(--uom) + calc(var(--uom) * 3.5) + var(--safe-area-inset-top));
      left: var(--uom);
      padding-left: calc(var(--uom) + var(--safe-area-inset-left));
      padding-right: calc(var(--uom) + var(--safe-area-inset-right));
      width: calc(100% - calc(var(--uom) * 2) - var(--safe-area-inset-left) - var(--safe-area-inset-right));
   }

   article img {
      width: calc(100% + calc(var(--uom) * 2) + var(--safe-area-inset-left) + var(--safe-area-inset-right));
      margin-left: calc(calc(var(--uom) * -1) - var(--safe-area-inset-left));
      margin-right: calc(calc(var(--uom) * -1) - var(--safe-area-inset-right));
      max-width: calc(100% + calc(var(--uom) * 2) + var(--safe-area-inset-left) + var(--safe-area-inset-right));
      max-height: calc(101vh - calc(var(--uom) * 3.5) - var(--safe-area-inset-top));
      object-fit: cover;
      object-position: 50% 50%;
   }
}

/* Horizn Symantic HTML styling */
/* mobile portrait gets stacked (header/aside).
   mobile landscape (on a very small screen) gets stacked too,
   to achieve this we: unset position sticky and change the flex-flow */
@media (orientation: portrait) and (max-width: 7.5in), (orientation: landscape) and (max-width: 8.5in) {
   body {
      flex-flow: row-reverse wrap-reverse;
   }

   aside + header,
   header {
      width: calc(100vw - calc(var(--uom) * 2));
      position: initial;
      margin-right: 0;
      padding-right: calc(var(--uom) + var(--safe-area-inset-right));
      padding-bottom: var(--uom);
   }

   aside + header > nav,
   header > nav {
      position: absolute;
      width: calc(100vw - calc(var(--uom) * 2) - var(--safe-area-inset-left) - var(--safe-area-inset-right));
      padding-right: calc(var(--uom) + var(--safe-area-inset-right));
      padding-left: calc(var(--uom) + var(--safe-area-inset-left))
   }

   header > picture > img {
      position: fixed;
   }

   aside {
      max-width: calc(100vw - calc(var(--uom) * 2));
      padding-left: calc(var(--uom) + var(--safe-area-inset-left));
   }

   aside > nav {
      width: calc(100vw - calc(var(--uom) * 2) - var(--safe-area-inset-left) - var(--safe-area-inset-right));
      padding-left: calc(var(--uom) + var(--safe-area-inset-left));
      padding-right: calc(var(--uom) + var(--safe-area-inset-right));
      margin-left: calc(calc(var(--safe-area-inset-left) * -1) - var(--uom));
   }

   article > nav {
      padding-left: calc(var(--uom) + var(--safe-area-inset-left));
   }
}

/* text selection styles */

header,
aside,
article > nav {
   /* https://stackoverflow.com/a/4407335/2969956 */
   -webkit-touch-callout: none !important; /* iOS Safari */
   -khtml-user-select: none !important; /* Konqueror HTML */
   -webkit-user-select: none !important; /* Safari */
   -moz-user-select: none !important; /* Old versions of Firefox */
   -ms-user-select: none !important; /* Internet Explorer/Edge */
   user-select: none !important; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

/* scrollbar stuff that I'm not sure works */
body::-webkit-scrollbar-track {
   box-shadow: inset 0 0 6px rgba(0,0,0,.1);
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
   background-color: transparent;
}

body::-webkit-scrollbar {
   background-color: transparent;
}

body::-webkit-scrollbar-thumb {
   box-shadow: inset 0 0 6px rgba(0,0,0,.3);
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
   background-color: transparent;
}

body::-webkit-scrollbar,
aside::-webkit-scrollbar,
article::-webkit-scrollbar { /* Hide scrollbar for Chrome, Safari and Opera */
   display: none;
}

body,
aside,
article { /* Hide scrollbar for IE, Edge and Firefox */
   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
}

/* amp stuff */
body.amp {
   display: block;
}

body.amp > aside,
body.amp > header { /* never show the header or aside on an amp page, articles are for amp pages, not the whole site */
   display: none;
}

body.amp > article {
   margin: 0 auto;
   padding-left: calc(var(--uom) + var(--safe-area-inset-left));
   padding-right: calc(var(--uom) + var(--safe-area-inset-right));
   width: calc(100vw - var(--safe-area-inset-left) - var(--safe-area-inset-right) - calc(var(--uom) * 2));
   max-width: calc(calc(var(--max-article) * 2) - calc(var(--uom) * 2) - var(--safe-area-inset-left) - var(--safe-area-inset-right));
}

body.amp > article > nav {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   margin: 0;
   padding-left: calc(var(--uom) + var(--safe-area-inset-left));
   padding-right: calc(var(--uom) + var(--safe-area-inset-right));
   width: calc(100vw - calc(var(--uom) * 2) - var(--safe-area-inset-left) - var(--safe-area-inset-right));
}

/* Print styles */
@media print {
   article > nav,
   header,
   article + aside {
      display: none !important;
   }

   article {
      width: initial;
      max-width: initial;
      padding-top: var(--uom);
   }
}

/* good default font, line height, and anchor element styles */

body {
   font-size: var(--uom);
   font-weight: 300;
   letter-spacing: calc(var(--uom) * .03 * 1.5);
   line-height: calc(100% * 1.5);
   word-break: break-word;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

code, kbd, pre, samp {
   font-family: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

h1,
h2,
h3 {
   margin: var(--uom) 0;
   font-weight: 500;
   letter-spacing: calc(var(--uom) * .05 * 1.5);
}

h1 {
   font-size: 270%;
   line-height: calc(100% * 1.1);
}

h2 {
   font-size: 215%;
   line-height: calc(100% * 1.2);
   text-transform: uppercase;
}

h3 {
   font-size: 150%;
   line-height: calc(100% * 1.3);
   text-transform: uppercase;
}

h4 {
   font-size: 90%;
   font-weight: 450;
   letter-spacing: calc(var(--uom) * .045 * 1.5);
   line-height: calc(100% * 1.4);
   margin: var(--uom) 0;
   text-transform: uppercase;
}

h5,
h6 {
   font-weight: 400;
   letter-spacing: calc(var(--uom) * .04 * 1.5);
   text-transform: uppercase;
}

h5 {
   font-size: 80%;
   margin: calc(var(--uom) * .85) 0;
   line-height: calc(100% * 1.5);
}

h6 {
   font-size: 70%;
   margin: calc(var(--uom) * .75) 0;
   line-height: calc(100% * 1.6);
}

time,
address {
   font-size: 80%;
   line-height: calc(100% * 1.5);
}

p,
li,
blockquote {
   margin: 0 0 var(--uom) 0;
}

blockquote {
   padding-left: var(--uom);
}

pre, code {
   font-size: 90%;
   line-height: calc(100% * 1.3);
}

a,
a:link,
a:visited,
a:active {
   text-decoration: none;
   font-weight: 400;
}

a:hover {
   text-decoration: underline;
}

/* Horizn color preferences */
/* IE: prefers-color-scheme: light */

body {
   background-color: var(--light-article-background);
   color: var(--light-article-color);
}

aside {
   background-color: var(--light-aside-background);
   -webkit-backdrop-filter: var(--light-aside-backdrop-filter);
   backdrop-filter: var(--light-aside-backdrop-filter);
}

aside *:not(nav, pre, code, ol, ul, li) {
   text-shadow: var(--light-aside-text-shaddow);
}

nav {
   background-color: var(--light-nav-transparent-background);
}

aside nav,
article nav {
   background-color: var(--light-nav-fixed-background);
}

blockquote {
   border-left: var(--light-accent-color) solid .3rem;
}

a,
a:link,
a:visited,
a:active {
   color: var(--light-accent-color);
}

header > nav > a:link,
header > nav > a:hover,
header > nav > a:visited,
header > nav > a:active {
   color: var(--light-nav-fixed-color);
}

/* prefers-color-scheme: dark styles */

@media screen and (prefers-color-scheme: dark) {
   body {
      background-color: var(--dark-article-background);
      color: var(--dark-article-color);
   }

   aside *:not(nav, pre, code, ol, ul, li) {
      text-shadow: var(--dark-aside-text-shaddow);
   }
   
   aside {
      background-color: var(--dark-aside-background);
      -webkit-backdrop-filter: var(--dark-aside-backdrop-filter);
      backdrop-filter: var(--dark-aside-backdrop-filter);
   }

   nav {
      background-color: var(--dark-nav-transparent-background);
   }

   aside nav,
   article nav {
      background-color: var(--dark-nav-fixed-background);
   }

   blockquote {
      border-left: var(--dark-accent-color) solid .2rem;
   }
   
   a,
   a:link,
   a:hover,
   a:visited,
   a:active {
      color: var(--dark-accent-color);
   }

   header > nav > a:link,
   header > nav > a:hover,
   header > nav > a:visited,
   header > nav > a:active {
      color: var(--dark-nav-fixed-color);
   }
}