doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, viewport-fit=cover')
    title Horizn running in #{title}
    link(rel='stylesheet', href='horizn/dist/css/horizn-slim.css')
    link(rel='stylesheet', href='horizn/dist/css/horizn-slim-box-sizing.css')
    link(rel='stylesheet', href='horizn/dist/css/horizn-slim-scroll.css')
    link(rel='stylesheet', href='horizn/dist/css/horizn-slim-amp.css')
    link(rel='stylesheet', href='horizn/dist/css/horizn-slim-print.css', media='print')
    link(rel='stylesheet', href='horizn/dist/css/horizn-slim-styles.css')
    link(rel='stylesheet', href='horizn/dist/css/horizn-slim-styles-header.css')
    link(rel='stylesheet', href='horizn/dist/css/horizn-slim-styles-light.css')
    link(rel='stylesheet', href='horizn/dist/css/horizn-slim-styles-dark.css', media='screen and (prefers-color-scheme: dark)')
  body
    block content
